@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Bad+Script);
@import url(http://fonts.googleapis.com/css?family=Englebert);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);

body {
    background-image: url(/hw2/resource/tile.gif);
    font-family: 'Source Sans Pro', sans-serif;
    width: 70% ;
    margin: 0 auto;
}


form {
    width: 570px;
    font-size: 17px;
}



h1 {
  
    font-weight: bolder;
    text-shadow: 1px 2px 2px #a2bf28;
    font-size: 32px;
    color: #1a6f3b;
}

li {
    width: 700px;
}

input[type=submit], input[type=reset] {
    background-color: #cbd0d3;
    border-color: cornsilk;
    padding: 4px;
    color: black;
    opacity: 1;
}

    input[type=submit]:hover, input[type=reset]:hover {
        background-color: #78b20c;
        box-shadow: 1px 1px 2px #147e30;
    }
/*
:invalid { 
  border-color: #78b20c;
  box-shadow:0 0 5px #cbd0d3;
}
*/

input:focus, select:focus, textarea:focus {
    background-color: #ffedb2;
    font-weight: bolder;
    color: #147e30;
}



table {
    padding-left: 3cm;
    width: 90%;
    margin: 0 auto;
}


hr {
    width: auto;
    color: #78b20c;
    height: 3px;
    background-color: #78b20c;
}

.profilePhoto {
    padding-left: 6.5cm;
    height: 262px;
    width: 240px;
    text-align: center;
}

input, select, textarea {
    border-radius: 4px;
    font-size: 16px;
    border-color: #665D5F;
    border-width: 1px;
    padding: 6px;
}

    input::-webkit-input-placeholder {
        color: #f8c57c;
        font-weight: normal;
    }

.gray {
    list-style-image: url(/hw2/resource/bullet_gray.png);
    font-family: 'Bad Script', cursive;
    font-weight: normal;
    font-size: 17px;
    text-shadow: 1px 1px 1px #78b20c;
}

.purple {
    list-style-image: url(/hw2/resource/bullet_purple.png);
    font-family: 'Bad Script', cursive;
    font-weight: normal;
    font-size: 17px;
    text-shadow: 1px 1px 1px #78b20c;
}

.clear {
    list-style-image: url(/hw2/resource/bullet_white.png);
    font-family: 'Bad Script', cursive;
    font-weight: normal;
    font-size: 17px;
    text-shadow: 1px 1px 1px #78b20c;
}

dd {
    font-family: 'Bad Script', cursive;
    font-size: 18px;
    color: #371470;
    font-weight: bold;
    text-align: left;
}

td {
    font-family: 'Satisfy', serif;
    font-size: 32px;
    color: #371470;
    text-shadow: 1px 1px 1px #0094ff;
    text-align: left;
}

.goto {
    font-size: 20px;
    color: #1a6f3b;
    text-shadow: 1px 1px 2px #6f9439;
}

    .goto:hover {
        font-size: 20px;
        color: #371470;
        text-shadow: 3px 3px 3px #b773ed;
        font-weight: bolder;
    }

.profileTitle {
    padding-left: 8cm;
    font-family: 'Satisfy', serif;
    font-size: 40px;
    color: #665D5F;
    text-align: left;
    text-shadow: 1px 1px 1px #ff00dc;
}


.welcome {
    color: #666666;
    font-size: 22px;
    font-family: 'Englebert', sans-serif;
}

.qrcode {
    height: 80px;
    width: 80px;
}
